body{
	width: 100%;
}

/*Car-bg*/
.car-bg{
    background-image: url(../img/maxresdefault.jpg);
    background-attachment: fixed;
}

.car-bg h1{
    text-align: center;
    color: #F12B24;
}

.car-bg p{
    text-align: center;
    color: #000;
    font-size: 30px;
}

/*man*/
.man{
}

.man h2{
    color: black;
    text-align: center;
    
}